.card{
	&__title,
	&__shortdesc{
		color: $color5;
		font-family: "SegoeUIBold";
		font-size: 18px;
		text-align: center;
	}
	&__shortdesc{
		margin: 10px 0 20px;
	}

	&__price{
		color: $color1;
	}

	&__address{
		font-size: 18px;
		font-family: "SegoeUIBoldItalic";
		color: $color7;
	}

	&__text{
		font-size: 17px;
		margin-top: 15px;
		p{
			line-height: 1.5
		}
	}

	&__contacts{
		color: $color1;
		font-size: 18px;
		margin: 10px 0;
	}


	&__gallery{
		padding-bottom: 40px;
		position: relative;
		&:after{
			@extend .before;
			background-image: linear-gradient(to right, #fff 0, red 30%, red 70%,  #fff 100%); 
			left: 50%;
			bottom: 15px;
			margin-left: -150px;
			height: 2px;
			width: 300px;
		}
	}

	&__pic{
		margin-bottom: 8px;
	}
}

.switchpic{
	display: inline-block;
	position: relative;
	img{
		display: block;	
		border-radius: 13px
	}

	&:after{
		@extend .before;
		border-radius: 14px;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
	}

	&.active:after{
		border: 2px solid red;
	}
}

.modal-open{
	overflow: hidden;
}

#card{
	top: 0;
	.modal__body{
		padding: 0 100px;
	}
	.btn-more{
		background: red;
		margin-top: 30px;
		margin-bottom: 30px;
		&:hover{
			background: $color6;
		}
	}
	.modal-dialog{
		padding-left: 25px;
		padding-right: 25px;
		padding-top: 12px;
		transform: translate(0, -5%)
	}
}


.qorder
{
	&__form{
		margin-left: auto;
		margin-right: auto;
		max-width: 1100px;
		padding-left: 10px;
		padding-right: 10px;
		position: relative;
		.row{
			@include flexbox;
			justify-content: space-between;
			margin-top: 24px;
			position: relative;

			&:first-child{
				margin-top: 0;
			}
			input.form-control,
			textarea{
				font-family: "SegoeUIBoldItalic";
				color: $color2;
				background-color: $color8;
				border: 1px solid $color8;
				font-size: 17px;
				padding-left: 1.5rem;
				padding-right: 1.5rem;
				transition: all .3s;
				&:disabled{
					cursor: default;
					@include placeholder(#ccc);
					background-color: #ccc;
				}
			}


			input.form-control{
				font-family: "SegoeUIBoldItalic";
				@include placeholder($color2);
				border-radius: 32px;
				height: 32px;
				padding-bottom: 4px;
				width: 32%;
			}

			textarea{
				border-radius: 18px;
				flex: 1;
				overflow: hidden;
				height: 95px;
				color: $color2;
				@include placeholder($color2);
			}

			.error{
				border: 1px solid red !important
			}
		}

		.submit{
			background-color: red;
			border-radius: 40px;
			border: none;
			color: $color2;
			cursor: pointer;
			display: block;
			font-family: "SegoeUIBoldItalic";
			font-size: 17px;
			height: 40px;
			margin-left: auto;
			margin-right: auto;
			margin-top: 25px;
			transition: .3s background-color;
			width: 214px;
			&:hover{
				background-color: $color6;
			}
			&:disabled{
				background-color: $color6;
				cursor: default;
			}
		}

		.policy{
			margin-top: 20px;
		}


		.sending,
		.thank{
			height: 280px;
			padding-top: 105px;
		}
	}
}

#mainImg{
	border-radius: 15px;
	display: block;
}


.policy{
	@extend .italic;
	color: $color1;
	a{
		@extend .tdn;
		color: red !important;
	}
}



.user-access + label {
	cursor: pointer;
	font-size: 14px;
}

.user-access:not(checked) {
	position: absolute;
	opacity: 0;
}
.user-access:not(checked) + label {
	a{
		color: #a8a8a8;		
	}
	color: $color1;
	display: block;
	position: relative; /* будем позиционировать псевдочекбокс относительно label */
	padding: 3px 0 0 60px; /* оставляем слева от label место под псевдочекбокс */
}
/* Оформление первой части чекбокса в выключенном состоянии (фон). */
.user-access:not(checked) + label:before {
	content: '';
	position: absolute;
	top: -2px;
	left: 0;
	width: 46px;
	height: 30px;
	background-color: #fff;
	border: 1px solid #a8a8a8;
	border-radius: 30px;
	text-align: center;
}

/* Меняем фон чекбокса, когда он включен. */
.user-access:checked + label:before {
	// border-color: $color4;
	color: red;
}
/* Сдвигаем переключатель чекбокса, когда он включен. */
.user-access:checked + label:after {
	content: '*';
	position: absolute;
	top: -6px;
	left: 14px;
	width: 22px;
	height: 22px;
	font-size: 36px;
	color: red;
}


.sending,
.thank{
	background: $color2;
	bottom: -8px;
	font-size: 17px;
	height: 207px;
	left: 0;
	padding-top: 80px;
	position: absolute;
	text-align: center;
	width: 100%;
}


.thank{
	// background: #fff;	
}