#slider{
	.slick{
		&-arrow{
			background: rgba(0,0,0,.7);
			background-image: url(../images/arrow.png);
			background-repeat: no-repeat;
			background-position: 43px 19px;
			border: none;
			cursor: pointer;
			height: 70px;
			margin-top: -35px;
			position: absolute;
			top: 50%;
			width: 87px;
			z-index: 10;
			transition: .3s;
			&:hover{
				background-position: 33px 19px;
			}
		}
		&-prev{
			left: 0;
		}
		&-next{
			right: 0;
			transform: rotate(180deg);
		}
	}
}


.advantages{
	.flexbox{
		flex-wrap: wrap;
		justify-content: center;
	}
	.cell{
		font-family: "SegoeUIItalic", Arial;
		margin-bottom: 35px;
		text-align: center;
		width: 220px;
		p{
			margin-top: 10px;
		}
		a{
			text-decoration: none;
			&:hover{
				img{
					border: 1px solid red;
				}
			}
		}
		img{
			border-radius: 50%;
			border: 1px solid rgba(255,255,255,0);
			display: block;
			margin-left: auto;
			margin-right: auto;
			transition: .3s border-color
		}
	}
}