#slider{
	.slick{
		&-arrow{
			background: rgba(0,0,0,.7);
			background-image: url(../images/arrow.png);
			background-repeat: no-repeat;
			background-position: 43px 19px;
			border: none;
			cursor: pointer;
			height: 70px;
			margin-top: -35px;
			position: absolute;
			top: 50%;
			width: 87px;
			z-index: 10;
			transition: .3s;
			&:hover{
				background-position: 33px 19px;
			}
		}
		&-prev{
			left: 0;
		}
		&-next{
			right: 0;
			transform: rotate(180deg);
		}
	}
}


.advantages{
	.flexbox{
		flex-wrap: wrap;
		justify-content: center;
	}
	.cell{
		font-family: "SegoeUIItalic", Arial;
		margin-bottom: 35px;
		text-align: center;
		width: 210px;
		p{
			margin-top: 10px;
		}
		a{
			text-decoration: none;
			&:hover{
				img{
					border: 1px solid red;
				}
			}
		}
		img{
			border-radius: 50%;
			border: 1px solid rgba(255,255,255,0);
			display: block;
			margin-left: auto;
			margin-right: auto;
			transition: .3s border-color
		}
	}

	.text{
		margin-top: 20px;
		p{
			margin: 3px 0;
		}
	}
}


.steps{
	.flexbox{
		padding-left: 150px;
		padding-right: 150px;
		justify-content: space-around;
		position: relative;
		text-align: center;
		&:after{
			@extend .before;
			background-image: linear-gradient(to right, #fff 0, $color5 30%, $color5 70%,  #fff 100%); 
			height: 1px;
			left: 0;
			top: 20px;
			width: 100%;
		}
	}
	.step{
		width: 240px;
	}
	.circle{
		align-items: center;
		background-color: $color5;
		border-radius: 50%;
		color: $color2;
		display: flex;
		font-family: "SegoeUIBold";
		font-size: 22px;
		height: 45px;
		justify-content: center;
		margin-bottom: 25px;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		width: 45px;
		z-index: 11;
	}
}



.flats{
	&__tabs{
		@extend .flexcenter
	}
	.nav-tabs{
		display: flex;
		a{
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: $color6;
			color: $color2;
			margin: 0 12px;
			font-family: "SegoeUIBoldItalic";
			text-transform: uppercase;
			text-decoration: none;
			height: 40px;
			border-radius: 40px;
			padding: 0 15px;
			&:hover,
			&.active{
				background-color: red
			}
		}
	}

	.tab-content{
		margin-top: 50px;
	}

	.tab-pane{
		flex-wrap: wrap;
		justify-content: center
	}

	.flat{
		margin-right: 33px;
		margin-bottom: 32px;
		width: 264px;
		&__pic{
			img{
				display: block;
			}
		}
		&__body{
			background-color: $color2;
			padding: 10px 15px 24px;
		}
		&__price,
		&__title{
			font-size: 18px;
			font-family: "SegoeUIBold";
			color: $color1;
		}

		&__title
		{
			padding-right: 10px;
			// text-transform: uppercase;
		}
		&__price{
			margin-top: 10px;
		}
		&__address{
			font-family: "SegoeUIRegular";
			margin-top: 15px;
		}
		&__service{
			margin-top: 10px;
		}

		&__tel{
			color: $color1;
			font-family: "SegoeUIBold";
			margin: 15px 0;
			text-transform: uppercase;
		}

		.btn{
			transition: .3s background-color;
			background: $color6;
			border: none;
			color: $color2;
			font-family: "SegoeUIBoldItalic";
			width: 215px;
			display: block;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			height: 40px;
			border-radius: 40px;
			font-size: 17px;
			cursor: pointer;
			&:hover{
				background-color: red;
			}
		}
	}
}



// Tabbable tabs
//
// Hide tabbable panes to start, show them when `.active`

.tab-content {
  > .tab-pane {
    display: none;
  }
  > .active {
    display: flex;
  }
}


.pricelist{
	.text{
		background-color: #fff;
		padding: 15px 18px;
		u strong,
		strong u
		{
			font-family: "SegoeUIBoldItalic";
		}
	}
}



// reviews
#reviews-slider{
	.flexbox{
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.slick-dots{
		display: flex;
		justify-content: center;
		margin-top: 18px;
		li{
			margin: 0 7px;
		}
		button{
			background-color: #ccc;
			border-radius: 50%;
			border: none;
			cursor: pointer;
			display: block;
			font-size: 0;
			height: 12px;
			line-height: 0;
			transition: .3s background-color;
			width: 12px;
			&:hover{
				background-color: red;				
			}
		}
		.slick-active{
			button{
				background-color: red;
			}
		}
	}
}
.review{
	&__cell{
		line-height: 1.8;
		margin-bottom: 15px;
		width: 47%;
		a{
			height: 100%;
			display: block;
			background-color: $color2;
			padding: 15px 18px;
			text-decoration: none;
			&:hover{
				background-color: #ccc;
			}
		}
	}
}