$color_1: #fff; 
$color_2: red;


/* =mobile-menu
---------------------------*/
.show-sm,
.navbar-toggle,
.close-menu{
	display: none;
}
/* =/mobile-menu
---------------------------*/


/* =mobile-menu
---------------------------*/
.navbar-toggle,
.close-menu{
	display: none;
}
/* =/mobile-menu
---------------------------*/




@media (max-width: 767px){
	.show-sm{
		display: block;
	}
	.navbar-toggle{
		background-color:$color_2;
		border: none;
		cursor: pointer;
		display: block;
		height: 70px;
		left: 0;
		position: fixed;
		text-align: center;
		top: 0;
		width: 70px;
		z-index: 999;
		.icon-bar{
			background-color: $color_1;
			display: block;
			height: 2px;
			margin: 8px auto;
			width: 30px;
		}
		&:hover{
			// background-color: saturation(#0563bf, 150%);
			.icon-bar{
				// background-color:;
			}
		}
	}


	.o-menu{
		.header{
			z-index: 1000;
		}
		.close-menu{
			display: block;
			transform: translate(0, 0);
		}
		#navbar{
			display: block;
			transform: translate(-15px, 0);
			z-index: 99999;
			border-top: 0;
		}

		.mainnav__list{
			position: fixed;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			overflow: auto;	
		}

		.mobinfo{
			padding-left: 1rem;
			a{
				color: $color_1;
				display: block;
				margin: 1.8rem;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}

		.show-sm{
			padding-left: 30px;
			a{
				color: $color2;
				display: block;
				text-decoration: none;
				margin: 15px 0;
				border-bottom: none !important;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}

	.close-menu{
		@include transition;
		display: block;
		transform: translate(-320px, 0);	
		background: none;
		cursor: pointer;
		padding: 0;
		left: 215px;
		background-color: $color_2;
		border: none;
		height: 58px;
		position: fixed;
		text-align: center;
		top: 0;
		width: 58px;
		z-index: 9999;
		img{
			transition: transform .2s;			
		}
		&:hover img{
			transform: rotate(90deg);
		}
	}


	#navbar{
		transition: all .2s ease-out;
		background-color:$color_2;
		color:$color_2;
		display: block;
		left: 0;
		margin-top: 0;
		padding-top: 15px;
		position: fixed;
		top: 0;
		bottom: 0;
		transform: translate(-305px, 0);
		width: 230px;
		font-family: "SegoeUI", Arial;
		text-transform: capitalize;
		a{
			border-bottom: none !important;
		}
		ul.nav{
			background: none;
			display: block;
			font-size: 15px;
			padding-left: 15px;

			a.active {
				text-decoration: underline;				
			}
			li{ // 1 level
				padding: 0;
				border-bottom: 1px solid #fff;
				a, span{
					color: $color_1;
					display: block;
					height: auto;
					line-height: normal;
					padding: 18px 0 18px 10px;
					text-decoration: none;
					text-transform: none;
					&:hover{
						color: #fff;
						text-decoration: underline;
					}
				}

			}
		}

		.nav-tabs>li{
			margin: 0;
		}
	}
}