.container {
  margin-right: auto;
  margin-left: auto; }

@media (max-width: 767px) {
  .container {
    padding-left: 15px;
    padding-right: 15px; } }

@media (min-width: 768px) {
  .container {
    width: 730px; } }

@media (min-width: 992px) {
  .container {
    width: 940px; } }

@media (min-width: 1199px) {
  .container {
    width: 1100px; } }

@media (min-width: 1400px) {
  .container {
    width: 1260px; } }

/*---------------------------------------------------
    SCSS Elements 0.1
  ---------------------------------------------------
    A set of useful SCSS mixins
  ---------------------------------------------------*/
/*
.columns(@colwidth: 250px, @colcount: 0, @colgap: 50px, @columnRuleColor: #EEE, @columnRuleStyle: solid, @columnRuleWidth: 1px) {
  -moz-column-width: @colwidth;
  -moz-column-count: @colcount;
  -moz-column-gap: @colgap;
  -moz-column-rule-color: @columnRuleColor;
  -moz-column-rule-style: @columnRuleStyle;
  -moz-column-rule-width: @columnRuleWidth;
  -webkit-column-width: @colwidth;
  -webkit-column-count: @colcount;
  -webkit-column-gap: @colgap;
  -webkit-column-rule-color: @columnRuleColor;
  -webkit-column-rule-style: @columnRuleStyle;
  -webkit-column-rule-width: @columnRuleWidth;
  column-width: @colwidth;
  column-count: @colcount;
  column-gap: @colgap;
  column-rule-color: @columnRuleColor;
  column-rule-style: @columnRuleStyle;
  column-rule-width: @columnRuleWidth;
}

*/
/*** reset ***********/
html, body, ul, ol, li, dl, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, a, img, label {
  margin: 0;
  padding: 0;
  border: 0; }

header, section, footer, aside, nav, article {
  display: block; }

ul {
  list-style: none; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%; }

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column;
  font-display: swap;
  height: 100vh;
  font-size: 14px;
  font-size: 1.4rem;
  -webkit-border-radius: 2px;
  border-radius: 2px; }

html, body {
  height: 100%; }

*:focus {
  outline: none; }

input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.outerwrapper {
  -webkit-flex: 1;
  flex: 1; }

/*** standart classes *****/
p {
  line-height: 16px; }

a {
  color: #020000; }

h1 {
  font-size: 2.5rem; }

h2 {
  font-size: 2.4rem; }

h3 {
  font-size: 1.6rem; }

*:focus {
  outline: none; }

input::-moz-focus-inner {
  border: 0;
  padding: 0; }

@font-face {}.tdn {
  text-decoration: none; }
  .tdn:hover {
    text-decoration: underline; }

.tdu {
  text-decoration: underline; }
  .tdu:hover {
    text-decoration: none; }

.before {
  content: "";
  display: block;
  position: absolute; }

.form-control {
  border: 1px solid #f4f4f4;
  border-radius: 0;
  margin-top: 0.6rem;
  font-size: 16px; }
  .form-control:focus, .form-control:active {
    border-color: #666;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(222, 72, 111, 0.3); }

/* =header
---------------------------*/
/* =/header
---------------------------*/
/* =navigation
---------------------------*/
/* =/navigation
---------------------------*/
.owl-carousel .owl-controls {
  position: absolute;
  width: 100%;
  top: 115px; }
  .owl-carousel .owl-controls .owl-buttons .owl-prev,
  .owl-carousel .owl-controls .owl-buttons .owl-next {
    background: url(../images/prevnext.png) no-repeat left top;
    width: 65px;
    height: 65px;
    position: absolute; }
  .owl-carousel .owl-controls .owl-buttons .owl-prev {
    left: -110px; }
  .owl-carousel .owl-controls .owl-buttons .owl-next {
    background-image: url(../images/sprite.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    right: -110px; }

/* =main
---------------------------*/
/* =footer
---------------------------*/
footer {
  height: 40px;
  background: #FFCC00; }

/* =mobile-menu
---------------------------*/
.navbar-toggle,
.close-menu {
  display: none; }

/* =/mobile-menu
---------------------------*/
@media (max-width: 767px) {
  .navbar-toggle {
    background-color: green;
    border: none;
    cursor: pointer;
    display: block;
    height: 70px;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 70px;
    z-index: 99; }
    .navbar-toggle .icon-bar {
      background-color: #fff;
      display: block;
      height: 2px;
      margin: 8px auto;
      width: 30px; }
    .navbar-toggle:hover {
      background-color: #fff; }
      .navbar-toggle:hover .icon-bar {
        background-color: green; }
  .o-menu .close-menu {
    display: block;
    transform: translate(0, 0); }
  .o-menu #navbar {
    display: block;
    transform: translate(-15px, 0);
    z-index: 9999; }
  .close-menu {
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    display: block;
    transform: translate(-320px, 0);
    background: none;
    cursor: pointer;
    padding: 0;
    left: 215px;
    background-color: green;
    border: none;
    height: 70px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 70px;
    z-index: 99; }
  #navbar {
    transition: all .2s ease-out;
    background-color: green;
    color: green;
    display: block;
    left: 0;
    padding-top: 15px;
    position: absolute;
    top: 0;
    transform: translate(-305px, 0);
    width: 230px; }
    #navbar .container {
      padding: 0; }
    #navbar ul.mainnav {
      background: none;
      display: block;
      font-size: 15px;
      margin-top: 0;
      padding-left: 15px; }
      #navbar ul.mainnav ul {
        position: static;
        opacity: 1;
        background: none;
        font-size: 14px !important; }
        #navbar ul.mainnav ul li:after {
          top: 12px; }
      #navbar ul.mainnav > li.folder > a:after,
      #navbar ul.mainnav > li.folder > span:after {
        top: 24px !important; }
      #navbar ul.mainnav > li.active > a {
        text-decoration: underline; }
      #navbar ul.mainnav li {
        border-bottom: 1px solid #fff; }
        #navbar ul.mainnav li a, #navbar ul.mainnav li span {
          color: #fff;
          display: block;
          height: auto;
          line-height: normal;
          padding: 18px 0 18px 10px;
          text-decoration: none;
          text-transform: none; }
          #navbar ul.mainnav li a:hover, #navbar ul.mainnav li span:hover {
            color: #fff;
            text-decoration: underline; }
        #navbar ul.mainnav li.active, #navbar ul.mainnav li:hover {
          border-bottom: 1px solid #fff;
          color: #fff; }
          #navbar ul.mainnav li.active a, #navbar ul.mainnav li.active span, #navbar ul.mainnav li:hover a, #navbar ul.mainnav li:hover span {
            background: none; }
        #navbar ul.mainnav li.folder > a,
        #navbar ul.mainnav li.folder > span {
          position: relative; }
          #navbar ul.mainnav li.folder > a:after,
          #navbar ul.mainnav li.folder > span:after {
            background: url(../images/arrow.png) no-repeat left bottom;
            content: "";
            display: block;
            height: 12px;
            position: absolute;
            right: 10px;
            top: 9px;
            width: 8px; }
        #navbar ul.mainnav li.folder ul.show {
          display: block; }
        #navbar ul.mainnav li.folder.open > a:after,
        #navbar ul.mainnav li.folder.open > span:after {
          background-position: left top;
          width: 12px;
          height: 8px; }
        #navbar ul.mainnav li.folder .folder {
          padding-left: .5rem;
          padding-right: 0; }
          #navbar ul.mainnav li.folder .folder > a:after,
          #navbar ul.mainnav li.folder .folder > span:after {
            display: none; }
          #navbar ul.mainnav li.folder .folder li ul li {
            position: relative; }
            #navbar ul.mainnav li.folder .folder li ul li a:before {
              content: "-";
              z-index: 10;
              position: absolute;
              left: 4px;
              top: 8px; }
          #navbar ul.mainnav li.folder .folder li ul.folder > ul {
            display: none !important; }
        #navbar ul.mainnav li.active a:hover {
          color: #fff; }
        #navbar ul.mainnav li.active > ul {
          display: block; }
          #navbar ul.mainnav li.active > ul .active .active a {
            font-weight: bold;
            text-decoration: underline; }
        #navbar ul.mainnav li ul {
          display: none;
          font-size: 12px;
          width: auto !important;
          border-top: none; }
          #navbar ul.mainnav li ul li {
            border-bottom: none;
            padding-left: 7px; }
            #navbar ul.mainnav li ul li a, #navbar ul.mainnav li ul li span {
              padding: 10px 0 10px 10px; }
            #navbar ul.mainnav li ul li.active, #navbar ul.mainnav li ul li:hover {
              border-bottom: none;
              color: green; }
            #navbar ul.mainnav li ul li ul {
              padding-top: 0; }
              #navbar ul.mainnav li ul li ul li {
                padding-right: 0; }
                #navbar ul.mainnav li ul li ul li:hover {
                  background: none; }
                #navbar ul.mainnav li ul li ul li.folder.active > a {
                  text-decoration: underline; }
                #navbar ul.mainnav li ul li ul li ul li.active a {
                  text-decoration: underline; } }

::-ms-clear {
  display: none; }
