.container {
  margin-right: auto;
  margin-left: auto; }

@media (max-width: 767px) {
  .container {
    padding-left: 15px;
    padding-right: 15px; } }

@media (min-width: 768px) {
  .container {
    width: 730px; } }

@media (min-width: 992px) {
  .container {
    width: 940px; } }

@media (min-width: 1199px) {
  .container {
    width: 1100px; } }

@media (min-width: 1400px) {
  .container {
    width: 1260px; } }

/*---------------------------------------------------
    SCSS Elements 0.1
  ---------------------------------------------------
    A set of useful SCSS mixins
  ---------------------------------------------------*/
/*
.columns(@colwidth: 250px, @colcount: 0, @colgap: 50px, @columnRuleColor: #EEE, @columnRuleStyle: solid, @columnRuleWidth: 1px) {
  -moz-column-width: @colwidth;
  -moz-column-count: @colcount;
  -moz-column-gap: @colgap;
  -moz-column-rule-color: @columnRuleColor;
  -moz-column-rule-style: @columnRuleStyle;
  -moz-column-rule-width: @columnRuleWidth;
  -webkit-column-width: @colwidth;
  -webkit-column-count: @colcount;
  -webkit-column-gap: @colgap;
  -webkit-column-rule-color: @columnRuleColor;
  -webkit-column-rule-style: @columnRuleStyle;
  -webkit-column-rule-width: @columnRuleWidth;
  column-width: @colwidth;
  column-count: @colcount;
  column-gap: @colgap;
  column-rule-color: @columnRuleColor;
  column-rule-style: @columnRuleStyle;
  column-rule-width: @columnRuleWidth;
}

*/
/*** reset ***********/
html, body, ul, ol, li, dl, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, a, img, label {
  margin: 0;
  padding: 0;
  border: 0; }

header, section, footer, aside, nav, article {
  display: block; }

ul {
  list-style: none; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  background: #f3f3f3;
  font-display: swap;
  font-family: "SegoeUIItalic", Arial;
  font-size: 14px;
  color: #333; }

input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.flexbox {
  display: flex; }

/*** standart classes *****/
p {
  line-height: 1.8; }

a {
  color: #020000;
  transition: .3s; }

h1 {
  font-size: 2.5rem; }

h2 {
  font-size: 2.4rem; }

h3 {
  font-size: 1.6rem; }

/* font-family: "SegoeUIRegular"; */
@font-face {
  font-family: "SegoeUIRegular";
  src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot");
  src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUIRegular/SegoeUIRegular.woff") format("woff"), url("../fonts/SegoeUIRegular/SegoeUIRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "SegoeUIBold"; */
@font-face {
  font-family: "SegoeUIBold";
  src: url("../fonts/SegoeUIBold/SegoeUIBold.eot");
  src: url("../fonts/SegoeUIBold/SegoeUIBold.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUIBold/SegoeUIBold.woff") format("woff"), url("../fonts/SegoeUIBold/SegoeUIBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "SegoeUIItalic";
  src: url("../fonts/SegoeUIItalic/SegoeUIItalic.eot");
  src: url("../fonts/SegoeUIItalic/SegoeUIItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUIItalic/SegoeUIItalic.woff") format("woff"), url("../fonts/SegoeUIItalic/SegoeUIItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "SegoeUIBoldItalic";
  src: url("../fonts/SegoeUIBoldItalic/SegoeUIBoldItalic.eot");
  src: url("../fonts/SegoeUIBoldItalic/SegoeUIBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUIBoldItalic/SegoeUIBoldItalic.woff") format("woff"), url("../fonts/SegoeUIBoldItalic/SegoeUIBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

strong,
.bold {
  font-family: "SegoeUIBold"; }

em, i,
.italic {
  font-family: "SegoeUIItalic"; }

strong em,
em strong {
  font-family: "SegoeUIBoldItalic"; }

.tdn {
  text-decoration: none; }
  .tdn:hover {
    text-decoration: underline; }

.tdu {
  text-decoration: underline; }
  .tdu:hover {
    text-decoration: none; }

.before, .steps .flexbox:after {
  content: "";
  display: block;
  position: absolute; }

.form-control {
  border: 1px solid #8c8c8c;
  border-radius: 0;
  margin-top: 0.6rem;
  font-size: 16px; }
  .form-control:focus, .form-control:active {
    border-color: #808080;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(222, 72, 111, 0.3); }

.text-center {
  text-align: center; }

.content-section {
  margin: 40px 0; }
  .content-section .title {
    color: #000;
    font-size: 36px;
    text-transform: uppercase;
    font-family: "SegoeUIBold";
    text-align: center;
    margin-bottom: 30px; }

.flexcenter, .flats__tabs {
  display: flex;
  align-items: center;
  justify-content: center; }

/* =header
---------------------------*/
.header {
  background: #f3f3f3;
  font-family: "SegoeUIBoldItalic";
  color: #8c8c8c;
  font-size: 15px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999; }
  .header .flexbox {
    justify-content: space-between;
    align-items: center;
    height: 90px; }
  .header .tel {
    color: #323232;
    display: inline-block;
    margin-top: 5px;
    text-decoration: none; }
  .header img {
    display: block; }
  .header .nav {
    flex-grow: 1;
    display: flex; }
    .header .nav li {
      margin-left: 20px; }
    .header .nav a {
      color: currentColor;
      text-decoration: none;
      border-bottom: 2px dashed rgba(255, 255, 255, 0); }
      .header .nav a.active {
        color: red;
        border-bottom-color: currentColor; }

/* =/header
---------------------------*/
/* =navigation
---------------------------*/
/* =/navigation
---------------------------*/
.owl-carousel .owl-controls {
  position: absolute;
  width: 100%;
  top: 115px; }
  .owl-carousel .owl-controls .owl-buttons .owl-prev,
  .owl-carousel .owl-controls .owl-buttons .owl-next {
    background: url(../images/prevnext.png) no-repeat left top;
    width: 65px;
    height: 65px;
    position: absolute; }
  .owl-carousel .owl-controls .owl-buttons .owl-prev {
    left: -110px; }
  .owl-carousel .owl-controls .owl-buttons .owl-next {
    right: -110px; }

/* =main
---------------------------*/
.footer {
  padding-top: 25px;
  position: relative; }
  .footer .flexbox {
    justify-content: space-between;
    align-items: flex-end; }
  .footer__left {
    color: #8c8c8c;
    font-family: "SegoeUIBoldItalic";
    font-size: 18px;
    padding-bottom: 8px;
    text-align: center;
    width: 50%; }
  .footer .social {
    margin-top: 8px; }
  .footer .kreotif {
    background-color: #fff;
    border-radius: 10px 10px 0 0;
    height: 55px;
    padding-top: 10px;
    width: 290px; }
    .footer .kreotif a {
      color: red;
      text-decoration: none; }
      .footer .kreotif a:hover {
        text-decoration: underline; }

#totop {
  background: #c3c3c3 url(../images/top.png) no-repeat center;
  border: none;
  bottom: 0;
  cursor: pointer;
  height: 48px;
  left: 50%;
  margin-left: -24px;
  position: absolute;
  width: 70px;
  z-index: 2;
  transition: .3s background-position; }
  #totop:hover {
    background-position: center 40%; }

#slider {
  margin-top: 90px; }
  #slider .slick-arrow {
    background: rgba(0, 0, 0, 0.7);
    background-image: url(../images/arrow.png);
    background-repeat: no-repeat;
    background-position: 43px 19px;
    border: none;
    cursor: pointer;
    height: 70px;
    margin-top: -35px;
    position: absolute;
    top: 50%;
    width: 87px;
    z-index: 10;
    transition: .3s; }
    #slider .slick-arrow:hover {
      background-position: 33px 19px; }
  #slider .slick-prev {
    left: 0; }
  #slider .slick-next {
    right: 0;
    transform: rotate(180deg); }

.advantages .flexbox {
  flex-wrap: wrap;
  justify-content: center; }

.advantages .cell {
  font-family: "SegoeUIItalic", Arial;
  margin-bottom: 35px;
  text-align: center;
  width: 210px; }
  .advantages .cell p {
    margin-top: 10px; }
  .advantages .cell a {
    text-decoration: none; }
    .advantages .cell a:hover img {
      border: 1px solid red; }
  .advantages .cell img {
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0);
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: .3s border-color; }

.advantages .text {
  margin-top: 20px; }
  .advantages .text p {
    margin: 3px 0; }

.steps .flexbox {
  padding-left: 150px;
  padding-right: 150px;
  justify-content: space-around;
  position: relative;
  text-align: center; }
  .steps .flexbox:after {
    background-image: linear-gradient(to right, #fff 0, #808080 30%, #808080 70%, #fff 100%);
    height: 1px;
    left: 0;
    top: 20px;
    width: 100%; }

.steps .step {
  width: 240px; }

.steps .circle {
  align-items: center;
  background-color: #808080;
  border-radius: 50%;
  color: #fff;
  display: flex;
  font-family: "SegoeUIBold";
  font-size: 22px;
  height: 45px;
  justify-content: center;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 45px;
  z-index: 11; }

.flats .nav-tabs {
  display: flex; }
  .flats .nav-tabs a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b3b3b3;
    color: #fff;
    margin: 0 12px;
    font-family: "SegoeUIBoldItalic";
    text-transform: uppercase;
    text-decoration: none;
    height: 40px;
    border-radius: 40px;
    padding: 0 15px; }
    .flats .nav-tabs a:hover, .flats .nav-tabs a.active {
      background-color: red; }

.flats .tab-content {
  margin-top: 50px; }

.flats .tab-pane {
  flex-wrap: wrap;
  justify-content: center; }

.flats .flat {
  margin-right: 33px;
  margin-bottom: 32px;
  width: 270px; }
  .flats .flat__pic img {
    display: block; }
  .flats .flat__body {
    background-color: #fff;
    padding: 10px 15px 24px; }
  .flats .flat__price, .flats .flat__title {
    font-size: 18px;
    font-family: "SegoeUIBold";
    color: #000; }
  .flats .flat__title {
    padding-right: 10px; }
  .flats .flat__price {
    margin-top: 10px; }
  .flats .flat__address {
    font-family: "SegoeUIRegular";
    margin-top: 15px; }
  .flats .flat__service {
    margin-top: 10px; }
  .flats .flat__tel {
    color: #000;
    font-family: "SegoeUIBold";
    margin: 15px 0;
    text-transform: uppercase; }

.btn-more {
  transition: .3s background-color;
  background: #b3b3b3;
  border: none;
  color: #fff;
  font-family: "SegoeUIBoldItalic";
  width: 215px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 40px;
  border-radius: 40px;
  font-size: 17px;
  cursor: pointer; }
  .btn-more:hover {
    background-color: red; }

.tab-content > .tab-pane {
  display: none; }

.tab-content > .active {
  display: flex; }

.pricelist .text {
  background-color: #fff;
  padding: 15px 18px; }
  .pricelist .text u strong,
  .pricelist .text strong u {
    font-family: "SegoeUIBoldItalic"; }

#reviews-slider .flexbox {
  justify-content: space-between;
  flex-wrap: wrap; }

.review__cell {
  line-height: 1.8;
  margin-bottom: 15px;
  width: 47%; }
  .review__cell a {
    height: 100%;
    display: block;
    background-color: #fff;
    padding: 15px 18px;
    text-decoration: none; }
    .review__cell a:hover {
      background-color: #ccc; }

.slick-dots {
  display: flex;
  justify-content: center;
  margin-top: 18px; }
  .slick-dots li {
    margin: 0 7px; }
  .slick-dots button {
    background-color: #ccc;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    display: block;
    font-size: 0;
    height: 12px;
    line-height: 0;
    transition: .3s background-color;
    width: 12px; }
    .slick-dots button:hover {
      background-color: red; }
  .slick-dots .slick-active button {
    background-color: red; }

/* =action
---------------------------*/
.action__item {
  margin-left: auto;
  margin-right: auto;
  width: 352px; }

.action__price, .action__title {
  color: #000;
  font-size: 18px;
  font-family: "SegoeUIBold"; }

.action__body {
  background-color: #fff;
  padding: 20px 15px 18px;
  height: 315px;
  display: flex;
  flex-direction: column; }

.action__title {
  margin-top: 15px; }

.action__price {
  margin: 20px 0; }

.action__text {
  font-size: 17px;
  padding-left: 10px; }

.action__bottom {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  flex-direction: column; }
  .action__bottom p {
    color: #000;
    font-size: 18px;
    font-family: "SegoeUIBold";
    text-transform: uppercase; }
  .action__bottom .btn-more {
    margin-top: 25px; }

/* =/action
---------------------------*/
#ymap {
  height: 410px; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.fade {
  opacity: 0;
  transition: .3s opacity .15s linear; }
  .fade.show {
    opacity: 1; }

/* =mobile-menu
---------------------------*/
.show-sm,
.navbar-toggle,
.close-menu {
  display: none; }

/* =/mobile-menu
---------------------------*/
/* =mobile-menu
---------------------------*/
.navbar-toggle,
.close-menu {
  display: none; }

/* =/mobile-menu
---------------------------*/
@media (max-width: 767px) {
  .show-sm {
    display: block; }
  .navbar-toggle {
    background-color: #0563bf;
    border: none;
    cursor: pointer;
    display: block;
    height: 70px;
    left: 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 70px;
    z-index: 99; }
    .navbar-toggle .icon-bar {
      background-color: #fff;
      display: block;
      height: 2px;
      margin: 8px auto;
      width: 30px; }
  .o-menu .close-menu {
    display: block;
    transform: translate(0, 0); }
  .o-menu #navbar {
    display: block;
    transform: translate(-15px, 0);
    z-index: 99999;
    border-top: 0; }
  .o-menu .mainnav__list {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: auto; }
  .o-menu .mobinfo {
    padding-left: 1rem; }
    .o-menu .mobinfo a {
      color: #fff;
      display: block;
      margin: 1.8rem;
      text-decoration: none; }
      .o-menu .mobinfo a:hover {
        text-decoration: underline; }
  .o-menu .show-sm {
    font-size: 15px;
    font-size: 1.5rem;
    padding-left: 3rem; }
    .o-menu .show-sm a {
      color: #fff;
      display: block;
      margin: 1.8rem 0;
      text-decoration: none;
      border-bottom: none !important; }
      .o-menu .show-sm a:hover {
        text-decoration: underline; }
  .close-menu {
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    display: block;
    transform: translate(-320px, 0);
    background: none;
    cursor: pointer;
    padding: 0;
    left: 215px;
    background-color: #0563bf;
    border: none;
    height: 58px;
    position: fixed;
    text-align: center;
    top: 0;
    width: 58px;
    z-index: 99; }
    .close-menu img {
      transition: transform .2s; }
    .close-menu:hover img {
      transform: rotate(90deg); }
  #navbar {
    transition: all .2s ease-out;
    background-color: #0563bf;
    color: #0563bf;
    display: block;
    left: 0;
    margin-top: 0;
    padding-top: 15px;
    position: fixed;
    top: 0;
    bottom: 0;
    transform: translate(-305px, 0);
    width: 230px; }
    #navbar a {
      border-bottom: none !important; }
    #navbar .container {
      padding: 0; }
    #navbar ul.mainnav {
      background: none;
      display: block;
      font-size: 15px;
      padding-left: 15px; }
      #navbar ul.mainnav .subnav {
        display: none;
        margin-top: -8px;
        min-width: 0;
        opacity: 1;
        padding-left: 0;
        padding-top: 0;
        position: relative;
        text-align: left;
        top: 0;
        width: auto;
        z-index: 10; }
        #navbar ul.mainnav .subnav:before {
          display: none; }
        #navbar ul.mainnav .subnav-text {
          display: none !important; }
      #navbar ul.mainnav ul {
        background: none;
        display: block !important;
        font-size: 14px !important;
        opacity: 1;
        padding: 0;
        position: static; }
        #navbar ul.mainnav ul li:after {
          top: 12px; }
      #navbar ul.mainnav > li.folder > a:after,
      #navbar ul.mainnav > li.folder > span:after {
        background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAANCAYAAACUwi84AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIlJREFUeNpi+P//vw0QBwMxAzbMxMDA4ALEa4A4iQEbAKoSB+Lt/yEgBd0EGIMXiHdAFSVjUwDCfEC8C90kdEcJQa37A8T5QCyBzeUCQHwXalIfuiQTEHdBJecBsRGyJCMQ98N0YnMDTLIfahJcAQcQ9yJJYoRDEVSyF2oNhgIfIM7FJgnCAAEGAKmlN490MQwsAAAAAElFTkSuQmCC") no-repeat right top;
        top: 22px !important; }
      #navbar ul.mainnav > li.folder > a.open:after,
      #navbar ul.mainnav > li.folder > span.open:after {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg); }
      #navbar ul.mainnav > li.active > a {
        text-decoration: underline; }
      #navbar ul.mainnav li {
        padding: 0;
        border-bottom: 1px solid #fff; }
        #navbar ul.mainnav li a, #navbar ul.mainnav li span {
          color: #fff;
          display: block;
          height: auto;
          line-height: normal;
          padding: 18px 0 18px 10px;
          text-decoration: none;
          text-transform: none; }
          #navbar ul.mainnav li a:hover, #navbar ul.mainnav li span:hover {
            color: #fff;
            text-decoration: underline; }
        #navbar ul.mainnav li.active, #navbar ul.mainnav li:hover {
          border-bottom: 1px solid #fff;
          color: #fff; }
          #navbar ul.mainnav li.active a, #navbar ul.mainnav li.active span, #navbar ul.mainnav li:hover a, #navbar ul.mainnav li:hover span {
            background: none; }
        #navbar ul.mainnav li.folder > a,
        #navbar ul.mainnav li.folder > span {
          position: relative;
          text-align: left; }
          #navbar ul.mainnav li.folder > a:after,
          #navbar ul.mainnav li.folder > span:after {
            background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAANCAYAAACUwi84AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIlJREFUeNpi+P//vw0QBwMxAzbMxMDA4ALEa4A4iQEbAKoSB+Lt/yEgBd0EGIMXiHdAFSVjUwDCfEC8C90kdEcJQa37A8T5QCyBzeUCQHwXalIfuiQTEHdBJecBsRGyJCMQ98N0YnMDTLIfahJcAQcQ9yJJYoRDEVSyF2oNhgIfIM7FJgnCAAEGAKmlN490MQwsAAAAAElFTkSuQmCC") no-repeat right top;
            content: "";
            display: block;
            height: 12px;
            position: absolute;
            right: 20px;
            width: 8px; }
        #navbar ul.mainnav li.folder ul.show {
          display: block; }
        #navbar ul.mainnav li.folder.open > a:after,
        #navbar ul.mainnav li.folder.open > span:after {
          background-position: left top;
          width: 12px;
          height: 8px; }
        #navbar ul.mainnav li.active a:hover {
          color: #fff; }
        #navbar ul.mainnav li.active > ul {
          display: block; }
          #navbar ul.mainnav li.active > ul .active .active a {
            font-weight: bold;
            text-decoration: underline; }
        #navbar ul.mainnav li ul {
          border-top: none;
          display: none;
          font-size: 12px;
          padding-bottom: 5px;
          width: auto !important; }
          #navbar ul.mainnav li ul li {
            border-bottom: none;
            padding-left: 7px; }
            #navbar ul.mainnav li ul li a, #navbar ul.mainnav li ul li span {
              padding: 7px 0 7px 10px; }
            #navbar ul.mainnav li ul li.active, #navbar ul.mainnav li ul li:hover {
              border-bottom: none;
              color: #0563bf; }
            #navbar ul.mainnav li ul li ul {
              padding-top: 0; }
              #navbar ul.mainnav li ul li ul li {
                padding-right: 0; }
                #navbar ul.mainnav li ul li ul li:hover {
                  background: none; }
                #navbar ul.mainnav li ul li ul li.folder.active > a {
                  text-decoration: underline; }
                #navbar ul.mainnav li ul li ul li ul li.active a {
                  text-decoration: underline; }
    #navbar .nav-tabs > li {
      margin: 0; } }

::-ms-clear {
  display: none; }
